@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #020887;
        --secondary-color: #FF4F79;
        --color-bg: #292929;
        --primary-text-color: #fff;
        --secondary-text-color: #333;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #020887;
        --secondary-color: #FF4F79;
        --color-bg: #292929;
        --primary-text-color: #fff;
        --secondary-text-color: #333;

       /* --primary-color: #020887;
        --secondary-color: #FF4F79;
        --color-bg: #fff;
        --primary-text-color: #333;
        --secondary-text-color: #fff; */
    }
} 

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    letter-spacing: 1px;
}

img {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
}

.navbar .logo:hover {
    border-bottom: 0;
}

/* Showcase */

.showcase {
    height: 600px;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    color: #fff;
    position: relative;
}

.showcase h1, h2 {
    font-size: 80px;
    margin: 0;
}

.showcase p {
    font-size: 40px;
    margin: 40px 0;
}

.showcase-text {
    text-align: center;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--color-bg);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* About */
.about {
    padding-top: 100px;
    height: auto;
    background: var(--color-bg);
    padding-bottom: 60px;
}

.about-heading {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--primary-text-color);
}

.about img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.about .grid {
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
    
}

/* Game */
.game {
    padding-top: 50px;
    height: auto;
    background: var(--color-bg);
    padding-bottom: 80px;
}

.game-heading {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: var(--primary-text-color);
}

.game .grid {
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
    
}

/* Skills */
.services {
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    color: #fff;
}

.services-heading {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.services .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    
}

.services .card {
    text-align: center;
    margin: 18px 10px 40px;
    background-color: var(--color-bg);
    aspect-ratio: 1/1;
    
}

.services .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--primary-text-color)
}

.services .card p {
    color: var(--primary-text-color)
}

/* Recently */
.recently {
    background: var(--primary-color);
    padding-bottom: 40px;
    color: #fff;
}

.recently-heading {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.recently p {
    color: var(--primary-text-color)
}

.recently a {
    color: var(--primary-text-color);
}

.recently .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
}

.recently .card {
    width: 100%;
    margin: 18px 10px 40px;
    background-color: var(--color-bg);
}

.recently .content {
    line-height: 21px;
    height: calc(3 * 21px);
    overflow: hidden;
    position: relative;
}

.recently .content::after {
    content: '';

    position: absolute;
    bottom: 0;
    right: 0;
    height: 21px;
    width: 75%;

    background: linear-gradient(90deg, transparent, var(--color-bg));
}

/* Contact */
.contact {
    background: var(--color-bg);
    padding-bottom: 40px;
    padding-top: 40px;
}

.contact .flex {
    justify-content: center;
    overflow: hidden;
}

.contact .card {
    padding: 40px;
    max-width: 600px;
    height: fit-content;
}

.contact-heading {
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.contact-form {
    position: relative;
    height: 350px;
    width: 100%;
    padding: 40px;
    justify-self: flex-end;
}

.contact-form .form-control {
    margin: 30px 0;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.contact-form input:focus {
    outline: none;
}

/* Footer */

.footer {
    background-color: var(--primary-color);
    height: 200px;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer ul {
    display: flex;
}

.footer i {
    margin: 20px;
}
.footer .grid {
    grid-template-columns: 1fr 2fr;
}

.footer .social {
    justify-self: flex-end;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn-secondary {
    background: var(--secondary-color);
}

.btn:hover {
    transform: scale(.98);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Blogposts */

.blogposts {
    background: var(--color-bg);
    padding-bottom: 40px;
}

.blogposts a {
    font-size: 40px;
    padding: 5px;
    color: var(--primary-text-color);
}

.blogposts .byline {
    font-style: italic;
}

.blogposts-heading {
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    color: var(--primary-text-color);
}

.blogposts .card {
    background-color: #fff;
    width: 90%;
}

.blogposts .content {
    margin: 40px 40px;
}

/* Paginate */

.paginate .btn {
    margin: 5px;
    background-color: #FF4F79;
    color: #fff;
    min-width: 35px;
    height: 35px;
}

.paginate a {
    font-size: 15px;
}