<div class="about">
    <div class="container grid-about" id="about">
        <h1 class="text-center grid-about-title">About me</h1>
        <img class="portrait" src="/assets/images/portrait.jpg">
        <p>How would i describe myself? - Probably 'curious' or 'creative' 
            <br>
            <br>
            I love learning, tinkering, making, playing, problem-solving, creating.. I crave making something with my hands, but also stimulating my brain!
            <br>
            Programming, web-development, smart-home, soldering, cooking, oil painting, gardening, foraging.. nothing is off limits to me!
        </p>
    </div>
</div>

