<section class="about">
    <section class="container">
        <img class="portrait" src="/assets/images/purpleportrait_dark.png" alt="Portrait of me, Magnus, wearing a white t-shirt, tinted purple">
        <h1 class="title" id="about">
            <i class="fa fa-circle" aria-hidden="true" style="color: var(--contrast-color);"></i>about()
        </h1>
        <section class="about-me">
            <p>How would i describe myself? - Probably 'curious' or 'creative' 
            <br>
            <br>
            I love learning, tinkering, making, playing, problem-solving, creating.. I crave making something with my hands, but also stimulating my brain!
            <br>
            Programming, web-development, smart-home, soldering, cooking, oil painting, gardening, foraging.. nothing is off limits to me!
            </p>
        </section>
        <section class="highlights">
            <section class="highlight-container">
                <i class="fa fa-desktop"></i>
                <h2>Web-development</h2>
                <p>Accessibility</p>
                <p>User-friendly</p>
                <p>Maximum platform & device support</p>
                <p>Efficiency</p>
                <p>Security & privacy</p>
                <p>Less is more.</p>
            </section>
            <section class="highlight-container">
                <i class="fa fa-paint-brush"></i>
                <h2>Aesthetics</h2>
                <p>Eye for design</p>
                <p>Trend-aware, with a focus on timeless design</p>
                <p>Color-scheming</p>
                <p>Fonts & Typography</p>
            </section>
            <section class="highlight-container">
                <i class="fa fa-book"></i>
                <h2>Curiosity</h2>
                <p>Love learning and making stuff</p>
                <p>Always have multiple projects going</p>
                <p>Excellent at teaching myself new skills</p>
                <p>Always strive to better myself, become more informed and aquire more knowledge</p>
            </section>
        </section>
    </section>
</section>

