<section class="contact">
    <section class="container">
        <h1 class="title" id="contact">
            <i class="fa fa-circle" aria-hidden="true" style="color: var(--contrast-color);"></i>contact()
        </h1>
        <section class="content">
            <p class="text-center">Feel free to contact me regarding everything from 'out of curiosity' to business inquiries!</p>
            <section class="socials">
                <a href="mailto:mail@magnusklink.com"><i class="fa fa-envelope fa-2x"></i></a>
                <a href="https://linkedin.com/in/klnk"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://github.com/MagnusKlink"><i class="fa fa-github fa-2x"></i></a>
                <a href="https://twitter.com/magnusklink"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com/magnusklink_/"><i class="fa fa-instagram fa-2x"></i></a>
            </section>
        </section>
    </section>
</section>
