<section class="projects">
    <section class="container">
        <h1 class="title" id="projects">
            <i class="fa fa-circle" aria-hidden="true" style="color: var(--contrast-color);"></i>projects()
        </h1>
        <section class="terminal">
            <section class="terminal-bar">
                <section class="circles">
                    <i class="fa fa-circle" aria-hidden="true" style="color: #FF605C;"></i>
                    <i class="fa fa-circle" aria-hidden="true" style="color: #FFBD44;"></i>
                    <i class="fa fa-circle" aria-hidden="true" style="color: #00CA4E;"></i>
                </section>
                <section class="title">
                    <a href="https://github.com/MagnusKlink/ARA"><p>https://github.com/magnusklink/ara</p></a>
                </section>
            </section>
            <section class="projects-container">
                <pre>
             ███████                      █████████████████                               ██████                 
             ████████████                  ████████████████████████                      ████████████              
            ███       ████                 ██                ████████                   ████      ████             
           ██     ██     ██                ██                      ███                 ██     ██     ██            
          ██    █████    ██                █████████████████████     ██                ██    █████    ██           
          ██  ████  ██    ██                █████████████████████     ██              ██    ██  ███   ██           
         ██  ███    ██     ██                                   ██    ██             ██     ██    ███  ██          
        ██  ██       ██    ██                                   ██    ██             ██    ██      ███  ██         
       ██ ███         ██    ██                ███████████████████     ██            ██    ██         ██ ██         
       █ ███          ██     ██             ████████████████████     ██            ██     ██          ██  █        
      █  █             ██    ██            ███                    ████             ██    ██            ██  █       
     ██ █               ██    ██           ██     █████████      ████             ██    ██               █ ██      
     █ █                ██     ██          ██    ███████████     █               ██     ██                █ █      
    █ █                  ██    ██          ██   ██         ██    ██              ██    ██                  █ ██    
  ██ █                    ██    ██         ██   ██          ██    ██            ██    ██                    █ █    
  █ █                     ██     ██        ██   ██           ██    ██          ██     ██                       █     
 █                         ██    ██        ██   ██            ██    ██        ██     ██                      █ ██  
 █ █                        ██    ██       ██   ██             ██    ██       ██    ██                        █ █  
█ ██                        ██████ ██      ███████              █████ ██     ██ █████                         ███  
██                           ███████        █████                ██████       ██████                               
                    </pre>
                    <section class="project-description">
                        <section class="line">
                            <p style="color: #5834d7; white-space: pre;">class </p><p>Hexapod:</p>
                        </section>
                        <section class="line">
                            <p style="color: #5834d7; white-space: pre;">     def </p><p>__init__(self, name, about):</p>
                        </section>
                        <section class="line">
                            <p style="white-space: pre; padding-left: 100px;">self.name = ARA</p>
                        </section>
                        <section class="line">
                            <p style="white-space: pre; text-wrap: wrap; padding-left: 100px;">self.about = A six-legged robot, inspired by arachnids, 3D-printed, driven by a microcontroller running MicroPython.</p>
                        </section>
                    </section>
            </section>
        </section>
    </section>
</section>