<div class="container" id="skills">
    <h1 class="text-center skills-title">Skills</h1>
    <div class="container skills">
        <div class="grid terminal-bar">
            <div style="justify-content: start;">
                <i class="fa fa-circle" aria-hidden="true" style="color: #FF605C;"></i>
                <i class="fa fa-circle" aria-hidden="true" style="color: #FFBD44;"></i>
                <i class="fa fa-circle" aria-hidden="true" style="color: #00CA4E;"></i>
            </div>
        </div>
        <div class="flex platforms">
            <div class="text-center">
                <a><i class="fa fa-python fa-4x"></i></a>
                <h2>Python</h2>
            </div>
            <div class="text-center">
                <a><i class="fa fa-html5 fa-4x"></i></a>
                <h2>HTML</h2>
            </div>
            <div class="text-center">
                <a><i class="fa fa-css3 fa-4x"></i></a>
                <h2>CSS</h2>
            </div>
            <div class="text-center">
                <a><i class="fa fa-home-assistant fa-4x"></i></a>
                <h2>Home Assistant</h2>
            </div>
            <div class="text-center">
                <a><i class="fa fa-cube fa-4x"></i></a>
                <h2>3D Printing</h2>
            </div>
            <div class="text-center">
                <a><i class="fa fa-camera fa-4x"></i></a>
                <h2>Photography</h2>
            </div>
        </div>
    </div>
</div>
