<section class="skills">
    <section class="container">
        <h1 class="title" id="skills">
            <i class="fa fa-circle" aria-hidden="true" style="color: var(--contrast-color);"></i>skills()
        </h1>
        <section class="terminal">
            <section class="terminal-bar">
                <section class="circles">
                    <i class="fa fa-circle" aria-hidden="true" style="color: #FF605C;"></i>
                    <i class="fa fa-circle" aria-hidden="true" style="color: #FFBD44;"></i>
                    <i class="fa fa-circle" aria-hidden="true" style="color: #00CA4E;"></i>
                </section>
                <section class="title">
                    <p>magnusklink.com/skills</p>
                </section>
            </section>
            <section class="bento-container">
                <section class="bento-column">
                    <section class="bento-sub-container">
                        <ul class="bento-item">
                            <i class="fa fa-html5"></i>
                            <p>HTML</p>
                        </ul>
                        <ul class="bento-item">
                            <i class="fa fa-css3"></i>
                            <p>CSS</p>
                        </ul>
                    </section>
                    <ul class="bento-item" style="aspect-ratio: 1 / 1;">
                        <i class="fa fa-python"></i>
                        <p>Python</p>
                    </ul>
                </section>
                <section class="bento-column">
                    <ul class="bento-item">
                        <i class="fa fa-python"></i>
                        <p>MicroPython</p>
                    </ul>
                    <section class="bento-sub-container">
                        <ul class="bento-item">
                            <i class="fa fa-plug"></i>
                            <p>Circuitry</p>
                        </ul>
                        <ul class="bento-item">
                            <i class="fa fa-microchip"></i>
                            <p>Soldering</p>
                        </ul>
                    </section>
                    <ul class="bento-item">
                        <i class="fa fa-cogs"></i>
                        <p>Robotics</p>
                    </ul>
                </section>
                <section class="bento-column">
                    <ul class="bento-item">
                        <i class="fa fa-home-assistant"></i>
                        <p>Home Assistant</p>
                    </ul>
                    <section class="bento-sub-container">
                        <ul class="bento-item">
                            <i class="fa fa-cube"></i>
                            <p>3D printing</p>
                        </ul>
                        <ul class="bento-item">
                            <i class="fa fa-cube"></i>
                            <p>Fusion360</p>
                        </ul>
                    </section>
                    <section class="bento-sub-container">
                        <ul class="bento-item">
                            <i class="fa fa-camera-retro"></i>
                            <p>Photoshop</p>
                        </ul>
                        <ul class="bento-item">
                            <i class="fa fa-camera-retro"></i>
                            <p>Lightroom</p>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
