@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
      --primary-color: #020887;
      --secondary-color: #000;
      --color-bg: #000;
      --primary-text-color: #fff;
      --secondary-text-color: #333;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-text-color);
  line-height: 1.6;
 /* background-image: linear-gradient(var(--primary-color), var(--secondary-color)); */ 
  background-color: #000;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  color: var(--primary-text-color);
}

p {
  margin: 10px 0;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}

img {
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Navbar */ 

.navbar {
  background-color: #00000080;
  color: #fff;
  height: 70px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  font-size: 20px;
}

.navbar a:hover {
  border-bottom: #fff solid 2px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .logo {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}

/* Footer */

.footer {
  background-color: #020887;
  height: 150px; 
  width: 100%;
  bottom: 0;
  color: #fff;
  margin-top: auto;
  
}

.footer p {
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer ul {
  display: flex;
}

.footer i {
  margin: 20px;
}

.footer .grid {
  grid-template-columns: 1fr 2fr;
}

.footer .social {
  justify-self: flex-end;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-reverse {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-image {
  padding-top: 10rem;
}

.game-description {
  text-align: center;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text-center {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.showcase {
  overflow: hidden;
}

.showcase img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.platforms a {
  padding: 20px;
  padding-bottom: 5rem;
  color: var(--primary-text-color);
}

.portrait {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.grid-about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 10rem;
}

.latest-post img {
  width: 50vw;
}

.latest-post-center {
  text-align: center;
}

.container .contact {
  margin-bottom: 30vh;
}

.jesper-image {
  width: 35vw;
}

.jesper-text {
  padding: 10px;
}

.move-up {
  align-self: flex-start;
}