<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Jesper Hess</title>
  </head>
  <header>
  </header>
  <body>
    <div class="container jesper-image text-center">
      <img src="/assets/images/jesper.jpeg">
      <a>27/04/1979 - 14/10/2022</a>
    </div>
    
    <div class="container flex">
      <div class="jesper-text">
        <p>Fredag  d. 14. Oktober 2022 mistede jeg min mand og bedste ven, Jesper Hess. 
          <br>
          <br>
          Som alle nok vil kunne forstå, især hvis de kender mig og har mødt Jespers fantastiske væsen, så er jeg fuldstændig ødelagt og sønderknust. 
          <br>
          Vi var på ferie i Berlin - en tur vi har snakket om længe og som vi har glædet os meget til. Vi havde haft en dejlig dag hvor vi havde puttet og snakket i sengen om morgenen som vi altid gør, vi havde kigget i en masse butikker og været oppe i fjernsynstårnet ved Alexanderplatz - alle disse indtryk gjorde os selvfølgelig lidt trætte, så vi slappede lidt af på hotelværelset før vi tog ud at spise på en nærliggende italiensk restaurant. 
          <br>
          Vi fik noget dejlig mad og nogle super gode drinks, men  desværre er dét det sidste Jesper oplevede.. Han begyndte at trække vejret hurtigt og blev fjern i blikket, hvorefter han kollapsede. Han fik hjertestop. Jeg råbte at nogen skulle ringe efter en ambulance, jeg lagde ham ned på bænken som han sad på, jeg holdte ham i hånden, talte til ham og sagde at det alt sammen nok skulle gå og at jeg var hos ham, jeg var sågar med til at give ham hjertemassage.. Ambulanceredderne kom og han blev genoplivet flere gange på vej hen til hospitalet og derhenne, men selvom alle gjorde hvad der stod i deres magt for at redde ham.. var det ikke nok. Klokken 22.05 blev han erklæret død.
          <br>
          Han blev gjort fin og pæn, hvorefter jeg fik lov til at komme ind til ham. Jeg krammede ham, kyssede ham, aede ham, puttede med ham, holdte ham i hånden, snakkede med ham og var hos ham indtil hans eksmand David og lillebror Andreas, som havde smidt alt for at køre til Berlin fra Danmark for mig, ankom omkring 6.30.. 
          <br>
          Det var virkelig rart at ligge hos ham en sidste gang og putte med ham, fortælle ham alle mulige gode ting som han skulle vide, hvor meget jeg elsker ham, hvor meget han betyder for mig og hvordan at han altid vil være hos mig - jeg ser ham i solskinnet, jeg ser ham i havets bølger, jeg ser ham i lyden af latter, i smagen af god mad, i duften af regnvejr, i duften af rent sengetøj, i alle de gode ting i livet. Du vil altid være hos mig Jesper. Jeg vil altid elske dig og jeg vil aldrig glemme dig. Jeg elsker alle dine stykker. 
          <br>
          <br>
          Min mand, min bedste ven, min legekammerat, min partner, min Abu Farashaati, min “ejer”, min “dumme far”, mit puttedyr, min støtte, min klippe, mit lys, min Jesper. Min.
          <br>
          <br>
          Din Magnus
        </p>
      </div>
      <div class="jesper-text move-up">
        <p>
        Friday the 14th of October 2022, i lost my husband and best friend, Jesper Hess.
        <br>
        <br>
        As anyone will probably understand, if they know me and have met the fantastic being of Jesper, I am completely and utterly devastated and heartbroken.
        <br>
        We were on vacation in Berlin - a trip we have talked about for a long time and have eagerly looked forward to. We had a nice day where we cuddled and chatted in the bed in morning as we always do, we had been in a lot of shops and been to the television tower at Alexanderplatz. - All of these experiences of course made us a bit tired, so we relaxed for a bit in our hotel room before we went out to an Italian restaurant close by. 
        <br>
        We had some delicious food and drinks, but sadly that is the last thing Jesper experienced.. He began to breathe heavily and became pale in his facial expression, then he collapsed. He got a heart attack. I yelled for someone to call an ambulance, I laid him down on the bench he sat on, I held his hand, talked to him and told him that everything would be all right and that I was right there with him, I even gave him CPR.. The medics arrived and he was resuscitated multiple times on the way to the hospital and at the hospital, but even though everybody did everything in their power to save him.. it wasn’t enough.. At 22.05 he was declared dead. 
        <br>
        He was cleaned up and I was allowed to see him. I hugged him, kissed him, caressed him, cuddled with him, held his hand and were by his side until his ex-husband David and little brother Andreas, who had dropped everything to drive to Berlin from Denmark for me, arrived around 6.30..
        It was really nice to lay with him one last time and cuddle with him, tell him all sorts of good things that he had to know, how much I love him, how much he means to me and that he will always be with me. - I see him in the sunshine, I see him in the waves of the ocean, I see him in the sound of laughter, in the taste of delicious food, in the smell of rain, in the smell of clean bedsheets, in all of the good things in life. You will always be with me Jesper. I will always love you and I will never forget you. I love all of your pieces. 
        <br>
        <br>
        My husband, my best friend, my playmate, my partner, my Abu Farashaati, my “owner”, my “stupid daddy”, my cuddle pet, my support, my rock, my light, my Jesper. Mine.
        <br>
        <br>
        Your Magnus
      </p>
      </div>
      
    </div>
    </body>
  <footer>
</footer>
</html>